html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

body {
    min-width: 12em;
}
.header {
    z-index: 10;
    max-width: 100%;
    background: #096dd9;
    /* box-shadow: 0 2px 8px #f0f1f2; */
    /* height: 2.5em; */
    border-bottom: 1px solid #eee;
    color: #fff;
}
/* .header span{
   margin: 0;
   padding: 5px 15px;
   color: #fff;
} */

.styled-ul {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.styled-ul li {
    padding: 10px 15px;
    /* border-bottom: 1px solid #dddddd; */
    display: flex;
    justify-content: space-between;
}

.styled-ul li:not(li:first-of-type):hover {
    cursor: pointer;
    color: #1890ff;
}

.styled-ul li.sep {
    border-bottom: 1px solid #dddddd;
}

.styled-ul li.sep-b {
    border-bottom: 2px solid #096dd9;
}

.styled-ul li.active {
    font-weight: bold;
    color: #1890ff;
    background-color: #e6f7ff;
    border-left: 3px solid #1890ff;
}

.disconnect {
    color: #F56C6C;
}
.slow {
    color: #faad14;
}
.fast {
    color: #67C23A;
}
